body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  #word {
    font-size: 24px;
    margin: 20px;
    color: rgb(52, 76, 96);
    
  }
  
  #guesses {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #guess-input {
    margin-right: 10px;
  }
  
  #guess-btn {
    padding: 5px 10px;
  }
  
  @media (max-width: 600px) {
    #guess-input {
      width: 100%;
    }
    
    #guess-button {
      margin-top: 10px;
    }
  }

#img {
  position:static;
  margin-top: 0%;
}
