body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  #bloco {
    position: relative;
    display: inline-block;
    
  }

  #word {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-style:normal;
    font-family: sans-serif;
  }
  
  #guesses {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #guess-input {
    margin-right: 10px;
  }
  
  #guess-btn {
    padding: 5px 10px;
  }
  
  @media (max-width: 600px) {
    #guess-input {
      width: 100%;
    }
    
    #guess-button {
      margin-top: 10px;
    }
  }


